@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
  }
}

@layer utilities {
  .modal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(53, 191, 92, 0.3) transparent;
  }

  .modal-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .modal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .modal-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(53, 191, 92, 0.3);
    border-radius: 999px;
  }

  .modal-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(53, 191, 92, 0.6);
  }
}